.phase-3 {
  $wrapper_padding: 0 65px;
  overflow-x: hidden !important;
  p {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  // Fix navigation
  .navigation {
    padding: $wrapper_padding;
    justify-content: left;
    margin-top: 15px;
    font-size: 12px;
    font-family: $font-3-roboto;
    max-height: 52px;
    .logo {
      $width: 115px;
      min-width: $width;
      width: $width;
      padding-top: 4px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .account-wrapper {
      display: flex;
      align-items: center;
      justify-content: right;
      max-width: 80px;
      width: 80px;
      min-height: 52px;
      position: relative;
      .avatar-icon {
        margin-right: 10px;
        position: absolute;
        left: 0;
      }
      .drop-arrow {
        position: absolute;
        left: 55px;
      }
      &:hover .tooltip {
        display: block;
        cursor: pointer;
      }
      $tp-border-color: rgba(255, 255, 255, 0.25);
      .tooltip {
        display: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid $tp-border-color;
        padding: 4px 0px;
        left: -38.5px;
        margin-top: 180px;
        position: relative;
        z-index: 9999;
        font-size: 12px;
      }
      .tooltip::before {
        content: '';
        position: absolute;
        $width: 16px;
        $height: $width/1.2;
        border-left: $height solid transparent;
        border-right: $height solid transparent;
        border-bottom: $width solid rgba(255, 255, 255, 0.75);
        top: -$width;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .action {
      margin-left: 0;
      flex: 1;
      ul {
        margin-left: 38px;
        li {
          margin: 0px;
        }
        a {
          padding: 4px 12px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      a:hover {
        color: rgba(255, 255, 255, 0.85);
      }
      .active-link {
        color: rgb(255, 255, 255);
      }
    }
  }
  // Main content
  .header {
    padding: $wrapper_padding;
    font-size: 36px;
    p {
      margin: 0 !important;
    }
  }
  .top-container {
    padding: $wrapper_padding;
    $bottom-margin: 8px;
    $btn-width: 65px;
    margin-bottom: calc(#{$bottom-margin} + 35px);
    .header {
      padding: 0;
    }
    .top-wrapper {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
      .main-content {
        background-color: #1f1f1f;
        position: relative;
        display: flex;
        .main-image {
          height: auto;
          width: 600px;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      &::after,
      &::before {
        top: 50%;
        transform: translateY(-50%);
        height: 100px;
        width: $btn-width;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::after {
        content: url(/style/content/icons/large-arrow-left.svg);
        background: linear-gradient(90deg, #141414 0%, #1f1f1f 100%);
        left: -$btn-width;
      }
      &::before {
        content: url(/style/content/icons/large-arrow-right.svg);
        background: linear-gradient(-90deg, #141414 0%, #1f1f1f 100%);
        right: -$btn-width;
      }
    }
    .progress-wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: $bottom-margin;
      span {
        width: 20px;
        height: 10px;
        border-radius: 2px;
        content: '';
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.25);
        bottom: -$bottom-margin;
      }
      #active {
        background-color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }

  // Content

  :root {
    --swiper-theme-color: #fff;
  }

  .slider {
    margin: 0 65px 40px 65px;
    position: relative;
    min-height: 120px;

    h2 {
      margin: 0 0 4px 0;
      font-weight: 500;
      font-family: $font-1-bebas;
      font-size: 34px;
    }
  }

  .swiper-container {
    position: relative;
    width: 100%;
    overflow: visible;
  }

  .swiper-wrapper {
    margin-bottom: -5px;
  }

  .swiper-slide {
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 155px;
    margin: 0;
    padding: 0 8px;
    transform: translate(0, -52.5%);
    z-index: 1;
    color: white;
    display: none;
  }

  .swiper-button-prev {
    left: -52px;
  }

  .swiper-button-next {
    right: -52px;
  }
}

.slider:hover .swiper-button-prev,
.slider:hover .swiper-button-next {
  display: flex;
}

.item {
  position: relative;
  z-index: 2;
  border-radius: 2.5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2.5px;
    display: block;
  }
  // CONTENT
  .content {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: -8px;
    padding: 5px 10px 10px 10px;
    background-color: #212121;
    box-sizing: border-box;
    border-radius: 2.5px;
    // Typography
    .title,
    .short-description {
      font-family: $font-3-roboto;
    }
    .review p,
    .bottom-content {
      font-size: 14px;
      letter-spacing: 0.5px;
    }
    // Containers
    .top-content {
      display: flex;
      .title {
        flex: 1;
        p {
          font-size: 22px;
          font-weight: 400;
        }
      }
      .list-button {
        input[type='button'] {
          cursor: pointer;
          font-family: $font-1-bebas;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.8px;
          background-color: $main-color;
          border-radius: 5px;
          outline: none;
          border: transparent;
          padding: 5px 10px 5px 10px;
          height: 30px;
          margin-top: 1.5px;
          color: white;
        }
      }
    }
    .review {
      background-color: #373737;
      padding: 3.5px 8px 1px 8px;
      margin: 5px 0;
      border-radius: 5px;
      p {
        color: rgba(255, 255, 255, 0.75);
      }
      .text {
        color: #00d1ff;
      }
    }

    .short-description {
      margin: 10px 0;
      font-size: 14px;
      line-height: 1.1;
    }
    .bottom-content {
      display: flex;
      justify-content: space-between;
      .release-date {
        color: rgba(255, 255, 255, 0.5);
        span {
          color: #00d1ff;
        }
      }
      .price {
        color: rgba(255, 255, 255, 0.5);
        span {
          color: #00d1ff;
        }
      }
    }
  }
  transition: transform 200ms ease-in-out;
  &:hover {
    z-index: 40;
    transform: scale(1.2) translateY(-50px);
    cursor: pointer;
  }
  // Opacity causes visual issues
  &:hover .content {
    display: block;
    animation: fadeIn 200ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: -5px;
  .tag {
    background-color: #373737;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 2px 8px 0px 8px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

.large-game-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8998;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground {
  max-width: 1280px;
  min-width: 600px;

  margin: 60px 20px 0 20px;
}

.large-game-container {
  position: relative;
  background-color: #1f1f1f;

  display: flex;
  justify-content: center;

  .col-1 {
    width: 60%;
  }

  .col-2 {
    width: 40%;
  }

  .col-1 {
    .showcase-wrapper {
      video {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
