/*
  #s4 {
    .contact-wrapper {
      display: flex;
      .contact-form {
        .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 0px 0px;
          grid-template-areas:
            'name email . .'
            'message message . .'
            'button button . .'
            '. . . .';
        }
        .name {
          grid-area: name;
        }
        .email {
          grid-area: email;
        }
        .message {
          grid-area: message;
        }
        .button {
          grid-area: button;
        }

        .input,
        label {
          display: block;
        }

        textarea {
          width: 100%;
          padding: 0;
          margin: 0;
        }

        input[type='button'] {
          width: 100%;
        }
      }
    }
  }
}
*/

#s4 {
    .content p {
        font-size: 48px;
        // margin-top: -2em;
    }
    .contact-wrapper {
        display: flex;
        .contact-form {
            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas: 'name email . .' 'message message . .' 'button button . .' '. . . .';
            }
            .name {
                grid-area: name;
            }
            .email {
                grid-area: email;
            }
            .message {
                grid-area: message;
            }
            .button {
                grid-area: button;
            }
            .input,
            label {
                display: block;
            }
            textarea {
                width: 610px;
                height: 175px;
                padding: 0;
                float: left;
                border: 10px solid #2f2f2f;
                box-sizing: border-box;
                background-color: #2f2f2f;
                font-family: 'Bebas Neue', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
                margin-top: -4em;
            }
            input[type='name'] {
                width: 290px;
                padding: 0;
                float: left;
                border: 10px solid #2f2f2f;
                box-sizing: border-box;
                background-color: #2f2f2f;
                font-family: 'Bebas Neue', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
            }
            input[type='email'] {
                width: 290px;
                padding: 0;
                float: left;
                border: 10px solid #2f2f2f;
                box-sizing: border-box;
                background-color: #2f2f2f;
                font-family: 'Bebas Neue', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
                margin-left: 1em;
            }
            input[type='button'] {
                width: 610px;
                background-color: #FF0000;
                color: white;
                font-family: 'Bebas Neue', cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                border-radius: 5px;
                margin-top: 1em;
            }
        }
    }
}