<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

    <title>Gameflix</title>
</head>

<body class="phase-2">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                <img src="./style/content/logo/Logo_no_shadow.svg" alt="">
            </div>

            <div class="account-wrapper">
                <span class="tooltip">
                    <a href="">Account</a>
                    <a href="">Sign out</a>
                </span>
                <div class="avatar-icon">
                    <img src="./style/content/icons/avatar.png" alt="">
                </div>
                <div class="drop-arrow">
                    <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                </div>
            </div>

            <form class="box" action="editprof.html" method="post">
                <div class="profile-pic">
                    <h1>Edit Profile</h1>
                    <img src="style/content/pics/profile.png" alt="">
                </div>
                <label for="uname"></label>
                <input type="text" placeholder="USERNAME" name="uname" required>

                <label for="email"></label>
                <input type="text" placeholder="EMAIL" name="email" required>


                <label for="Languages"></label>
                <select type="text" placeholder="CHOOSE Language" name="lang" required>
                    <option value="English">English</option>
                    <option value="German">German</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Chinese">Chinese</option>
                </select>
                <div class="heading2">
                    <h2>PREFERENCES</h2>
                </div>
                <div class="text-p">
                    <p>USED TO CREATE CATEGORIES, CLICK TO REMOVE</p>
                </div>
                <div class="pref-buttons">
                    <ul>
                        <li><a href="">ACTION</a></li>
                        <li><a href="">RPG</a></li>
                        <li><a href="">PARTY</a></li>
                        <li><a href="">SHOOTER</a></li>
                        <li><a href="">ADVENTURE</a></li>
                        <li><a href="">ROUGE</a></li>
                        <li><a href="">STEATH</a></li>
                        <li><a href="">SURVIVAL</a></li>
                        <li><a href="">SIMULATION</a></li>
                    </ul>
                </div>
                <div class="pref-add">
                    <ul>
                        <li><a href="">ADD</a></li>
                    </ul>
                </div>
                <div class="heading2">
                    <h2>DELETE PROFILE</h2>
                </div>
                <div class="text-p">
                    <p> DELETING PROFILE WILL REMOVE ALL YOUR DATA </p>
                    <div class="del-prof">
                        <ul>
                            <li><a href="">DELETE PROFILE...</a></li>
                        </ul>
                    </div>

                </div>
                <div class="can-save">
                    <ul>
                        <li><a href="">CANCEL</a></li>
                        <li class="bg"><a href="">SAVE CHANGES</a></li>
                    </ul>
                </div>
            </form>

</body>

</html>