<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

    <title>Gameflix</title>
</head>

<body class="phase-1">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                <a href="/">
                <img src="./style/content/logo/Logo_no_shadow.svg" alt="">
                </a>
            </div>
            <div class="action">
                <ul>
                    <li><a href='/dashboard'>Demo</a></li>
                    <li><a href="/login">Login</a></li>
                    <li class="r-bg"><a href="/signup">Sign up</a></li>
                </ul>
            </div>
            <div class="hamburger-wrapper">
                <div id="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="mobile-navigation">
                <div class="action">
                    <ul>
                        <li>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                            <a href=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <!-- CONTENT WRAPPER -->
            <div class="middle">
                <div class="section" id="s1">
                    <!-- HEADER TEXT -->
                    <div class="header">
                        <h1>Find your next game</h1>
                    </div>
                    <!-- LEFT CONTENT - TEXT-->
                    <div class="b-left">
                        <div class="content">
                            <p>Find Now</p>
                            <p>Play Instantly</p>
                        </div>
                        <div class="button">
                            <ul>
                                <li><a href="/dashboard" class="r-bg">  Demo  </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- RIGHT CONTENT - IMAGES -->
                    <div class="b-right">
                        <div class="fg-image">
                            <img src="./style/content/foreground/FG-1.png" alt="">
                        </div>
                        <div class="fg-image">
                            <img src="./style/content/foreground/FG-2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="section" id="s2">
                    <!-- HEADER TEXT -->
                    <div class="header">
                        <h1>About us</h1>
                    </div>

                    <div class="content">
                        <p>Game recommendation service inspired by netflix, using steam to provide a large database of games
                        </p>
                    </div>

                    <ul class="bullet-points">
                        <span>
                            <li>Personalistation</li>
                        </span>
                        <span>
                            <li>Free Account</li>
                        </span>
                        <span>
                            <li>Lots of Information</li>
                        </span>
                    </ul>

                    <div class="button">
                        <ul>
                            <li><a href="/dashboard" class="r-bg">  DEMO  </a></li>
                        </ul>
                    </div>
                </div>

                <div class="section" id="s3">
                    <!-- HEADER TEXT -->
                    <div class="header">
                        <h1>Frequently Asked Questions</h1>
                    </div>

                    <div class="faq-wrapper">
                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>What is Gameflix?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>Gameflix is a game recommener app that will recommend its users games based on the games they have already played </p>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>Do I need to purchase a membership for Gameflix?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>No, you do not have to purchase a membership to create an account with Gameflix. You can just head to gameflix sign-up page enter your details and click on sign-up button.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>Is there a limit on how many devices I can Login with my gameflix account?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>If you have an account with Gameflix you can login with this account in up-to five devices.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>I have a great feature idea how can I share it with you?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>If you have an idea that you want to share with us about Gameflix app, you can email us about it at gameflix@hotmail.com</p>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>I am having trouble signing-in to my account what should I do?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>If you are having trouble signing-in to your account. You can email our team with the detail of what the problem is at gameflix@hotmail.com</p>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Title -->
                            <div class="title">
                                <p>Is there a mobile (android/ios) app of gameflix that I can download?</p>
                                <span><img src="./style/content/icons/arrow.svg" alt=""></span>
                            </div>
                            <!-- Content -->
                            <div class="content">
                                <p>We do not currently have any Mobile (Android/IOS) app. However you can open our gameflix web app in your phone by accessing any browser and typing in www.gameflix.com in the URL section</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section" id="s4">
                    <div class="header">
                        <h1>Contact</h1>
                    </div>

                    <div class="content">
                        <p>Get in touch, Email us today</p>
                    </div>

                    <div class="contact-wrapper">
                        <div class="contact-form">
                            <form action="https://formspree.io/f/xknkgaeo" method="POST" id="form">
                                <div class="grid-container">
                                    <div class="name">
                                        <input type="name" name="Name" id="" required placeholder="Name">
                                    </div>
                                    <div class="email">
                                        <input type="email" name="Email" id="" required placeholder="Email">
                                    </div>
                                    <div class="message">
                                        <textarea name="Message" id="" required placeholder="Message"></textarea>
                                    </div>
                                    <div class="button">
                                      <button class="button button1">Send Message</button>
                                    </div>
                                      <div id="status"></div>
                                </div>
                            </form>
                        </div>
                        <div class="contact-info">
                            <ul>
                                <li><img src="/style/content/icons/envelope.png" alt=""> Gameflix@mail.com</li>
                                <li><img src="/style/content/icons/map.png" alt=""> G42 7BP</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="carosel-buttons">
                <ul>
                    <li><span class="cb-active" id="1"></span></li>
                    <li><span id="2"></span></li>
                    <li><span id="3"></span></li>
                    <li><span id="4"></span></li>
                </ul>
            </div>
            <div class="links">
                <ul>
                    <li><a>About</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        // Page carosel
        $('.middle > div').hide();
        $('.middle').children(":nth-child(4)").show()
        $('.carosel-buttons ul li span').click(function() {
            $(".carosel-buttons ul li span").removeClass("cb-active");
            $(this).addClass("cb-active");

            $('.middle > div').hide();
            $('.middle > div').eq($(this).parent().index()).show();
        })

        // FAQ Functionality
        $('.item > .content').hide();
        $('.item').click(function() {
            console.log($('.content', this).text());

            $('.content', this).slideToggle('fast', function() {

            })
        })
    </script>
    <script>
    var form = document.getElementById("form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Message Sent! Thanks for your submission!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>
</body>

</html>