<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

    <title>Gameflix</title>
</head>

<body class="phase-2">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                <a href="/">
                <img src="./style/content/logo/Logo_no_shadow.svg" alt="">
                </a>
            </div>
            <div class="action">
                <ul>
                    <li><a href='/dashboard'>Demo</a></li>
                    <li><a href="/login">Login</a></li>
                    <li class="r-bg"><a href="/signup">Sign up</a></li>
                </ul>
            </div>
            <div class="hamburger-wrapper">
                <div id="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="mobile-navigation">
                <div class="action">
                    <ul>
                        <li>
                            <li><a href='/dashboard'>Demo</a></li>
                            <li><a href="/login">Login</a></li>
                            <li class="r-bg"><a href="/signup">Sign up</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <form class=" box " action="login.html " method="post ">
        <div class="form-heading ">
            <h>LOGIN</h>
        </div>

        <input type="text" placeholder="EMAIL OR USERNAME" name="email" required>
        <label for="email"></label>

        <input type="password" placeholder="PASSWORD" name="psw" required>
        <label for="psw"></label>
        <button type="submit ">LOGIN</button>
        <div class="container">
            <input type="checkbox" checked="checked" name="remember"> REMEMBER ME
            <span class="checkmark"> <a href="/">NEED HELP?</a> </span>
        </div>
        <div class="bot">
            <span class="su ">NEW TO GAMEFLIX? <a href='/signup'>SIGN UP NOW?</a></span>
        </div>
    </form>
</body>

</html>