@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap");
html, body {
  font-family: "Bebas Neue", cursive;
  color: white;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.375;
  margin: 1.5rem 0 0.65rem 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin: 1.5rem 0 1.5rem 0;
}

h4 {
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: normal;
}

p {
  margin: 0 0 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-hyphenate-limit-lines: 1;
  -webkit-hyphenate-limit-lines: 1;
  -ms-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

a {
  text-decoration: none;
}

p a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, currentcolor));
  background-image: linear-gradient(to bottom, transparent 50%, currentcolor 50%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 0.95em;
}

aside,
figcaption,
footer {
  font-size: 0.875rem;
}

figcaption p {
  max-width: 30em;
}

h1,
h2 {
  max-width: 9em;
}

.u-emphasis {
  font-weight: bold;
}

.r-bg {
  background: #FF0000;
  border-radius: 3px;
  padding: 7px 22px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 0 8px;
}

html,
body {
  margin: 0;
}

body {
  background-color: #141414;
  overflow-x: hidden;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 7px 22px;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

.navigation li:first-child {
  margin-right: 20px;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation .logo {
  width: 175px;
}

.navigation .logo img {
  width: 100%;
  height: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.footer .carosel-buttons ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 25px;
}

.footer .carosel-buttons span {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.35);
  display: block;
}

.footer .carosel-buttons .cb-active {
  background-color: #FF0000;
}

.footer .carosel-buttons li:hover {
  cursor: pointer;
  background-color: #FF0000;
  opacity: 80%;
}

.footer .links li {
  display: inline-block;
}

.footer .links li:nth-child(2) {
  margin: 0 15px;
}

.footer .links a {
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 7px 18px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.footer .links a:hover {
  background-color: #222222;
  border: 1px solid #111111;
  cursor: pointer;
}

h1 {
  font-size: 82px;
  opacity: 90%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

p {
  font-size: 42px;
  opacity: 80%;
}

li {
  font-size: 1.6em;
  opacity: 90%;
}

a {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/style/content/background/p1-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 0;
  width: 100%;
  min-height: 500px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.section .header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section .content {
  margin-top: 25px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section .button {
  width: 100%;
  height: 100%;
}

.section .button ul {
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
}

#s1 .b-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 140px;
}

#s1 .b-left .content {
  line-height: 1.4;
  margin: 0;
}

#s1 .b-left .content p {
  margin-top: -8px;
}

#s1 .b-left .content p:nth-child(2) {
  padding: 0;
  margin: 0;
  margin-top: -35px;
}

#s1 .b-right {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#s1 .b-right .fg-image img {
  width: 100%;
  height: 100%;
  display: block;
}

#s1 .b-right .fg-image:nth-child(2) {
  position: absolute;
  top: 0;
  right: -120%;
}

#s2 {
  overflow: hidden;
}

#s2 p {
  max-width: 720px;
  line-height: 1.2;
}

#s2 .bullet-points {
  list-style: disc;
  width: 100%;
  margin-top: -25px;
  font-size: 20px;
  padding-left: 2.5px;
}

#s2 .bullet-points span {
  display: inline-block;
  padding: 0 15px 0 25px;
}

#s3 .item p {
  padding: 0;
  margin: 0;
}

#s3 .item .title p {
  font-size: 30px;
}

#s3 .item .content p {
  font-size: 24px;
}

#s3 .item .title, #s3 .content {
  padding: 7px 28px;
}

#s3 .faq-wrapper {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 15px 15px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

#s3 .item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

#s3 .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2f2f2f;
}

#s3 .item .title span {
  padding-left: 25px;
}

#s3 .item .content {
  background-color: #1f1f1f;
  margin: 0;
}

#s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#s4 .contact-form .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "name email . ." "message message . ." "button button . ." ". . . .";
}

#s4 .contact-form .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#s4 .contact-form .email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#s4 .contact-form .message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

#s4 .contact-form .button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
}

#s4 .contact-form textarea {
  width: 100%;
  padding: 0;
  margin: 0;
}

#s4 .contact-form input[type=button] {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */