@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap");
html,
body {
  font-family: "Bebas Neue", cursive;
  color: white;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.375;
  margin: 1.5rem 0 0.65rem 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin: 1.5rem 0 1.5rem 0;
}

h4 {
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: normal;
}

p {
  margin: 0 0 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-hyphenate-limit-lines: 1;
  -webkit-hyphenate-limit-lines: 1;
  -ms-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

a {
  text-decoration: none;
}

p a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, currentcolor));
  background-image: linear-gradient(to bottom, transparent 50%, currentcolor 50%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 0.95em;
}

aside,
figcaption,
footer {
  font-size: 0.875rem;
}

figcaption p {
  max-width: 30em;
}

h1,
h2 {
  max-width: 9em;
}

.u-emphasis {
  font-weight: bold;
}

.r-bg {
  background: #ff0000;
  border-radius: 3px;
  padding: 7px 22px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 0 8px;
}

html,
body {
  margin: 0;
}

.phase-1,
.phase-2,
.phase-3 {
  overflow-x: hidden;
  background-color: #141414;
}

.phase-1::after,
.phase-2::after {
  content: '';
  background-image: url(../content/background/p1-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.navigation li:first-child {
  margin-right: 20px;
}

.navigation a {
  color: white;
  display: block;
  padding: 7px 22px;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

.navigation a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.navigation .logo {
  width: 175px;
}

.navigation .logo img {
  width: 100%;
  height: 100%;
}

.hamburger-wrapper,
.mobile-navigation {
  display: none;
}

#hamburger-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),
#hamburger-icon span:nth-child(3) {
  top: 18px;
}

#hamburger-icon span:nth-child(4) {
  top: 36px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.footer .carosel-buttons ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 25px;
}

.footer .carosel-buttons span {
  content: '';
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.35);
  display: block;
}

.footer .carosel-buttons li:hover {
  cursor: pointer;
  background-color: #ff0000;
  opacity: 80%;
}

.footer .links li {
  display: inline-block;
}

.footer .links li:nth-child(2) {
  margin: 0 15px;
}

.footer .links a {
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 7px 18px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.footer .links a:hover {
  background-color: #222222;
  border: 1px solid #111111;
  cursor: pointer;
}

.cb-active {
  background-color: #ff0000;
  color: #ff0000;
}

.phase-1 {
  /*
  #s4 {
    .contact-wrapper {
      display: flex;
      .contact-form {
        .grid-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          gap: 0px 0px;
          grid-template-areas:
            'name email . .'
            'message message . .'
            'button button . .'
            '. . . .';
        }
        .name {
          grid-area: name;
        }
        .email {
          grid-area: email;
        }
        .message {
          grid-area: message;
        }
        .button {
          grid-area: button;
        }

        .input,
        label {
          display: block;
        }

        textarea {
          width: 100%;
          padding: 0;
          margin: 0;
        }

        input[type='button'] {
          width: 100%;
        }
      }
    }
  }
}
*/
}

.phase-1 h1 {
  font-size: 82px;
  opacity: 90%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.phase-1 p {
  font-size: 42px;
  opacity: 80%;
}

.phase-1 li {
  font-size: 1.6em;
  opacity: 90%;
}

.phase-1 a {
  color: white;
}

.phase-1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.phase-1 .body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phase-1 .navigation .logo {
  margin-left: -1em;
  width: 20%;
}

.phase-1 .navigation ul li {
  padding: 7px 22px;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

.phase-1 .navigation ul a {
  padding: 0;
  font-size: inherit;
  letter-spacing: inherit;
}

.phase-1 .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 0;
  width: 100%;
  min-height: 500px;
}

.phase-1 .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.phase-1 .section .header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.phase-1 .section .content {
  margin-top: 25px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.phase-1 .section .button {
  width: 100%;
  height: 100%;
}

.phase-1 .section .button ul {
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
}

.phase-1 #s1 .b-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 140px;
}

.phase-1 #s1 .b-left .content {
  line-height: 1.4;
  margin: 0;
}

.phase-1 #s1 .b-left .content p {
  margin-top: -8px;
}

.phase-1 #s1 .b-left .content p:nth-child(2) {
  padding: 0;
  margin: 0;
  margin-top: -35px;
}

.phase-1 #s1 .b-right {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.phase-1 #s1 .b-right .fg-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.phase-1 #s1 .b-right .fg-image:nth-child(2) {
  position: absolute;
  top: 0;
  right: -120%;
}

.phase-1 #s2 {
  overflow: hidden;
}

.phase-1 #s2 p {
  max-width: 720px;
  line-height: 1.2;
}

.phase-1 #s2 .bullet-points {
  list-style: disc;
  width: 100%;
  margin-top: -25px;
  font-size: 20px;
  padding-left: 2.5px;
}

.phase-1 #s2 .bullet-points span {
  display: inline-block;
  padding: 0 15px 0 25px;
}

.phase-1 #s3 .faq-item p {
  padding: 0;
  margin: 0;
}

.phase-1 #s3 .faq-item .title p {
  font-size: 30px;
}

.phase-1 #s3 .faq-item .content p {
  font-size: 24px;
}

.phase-1 #s3 .faq-item .title,
.phase-1 #s3 .content {
  padding: 7px 28px;
}

.phase-1 #s3 .faq-wrapper {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 15px 15px;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.phase-1 #s3 .faq-item {
  -webkit-transform: none;
          transform: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.phase-1 #s3 .faq-item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2f2f2f;
}

.phase-1 #s3 .faq-item .title span {
  padding-left: 25px;
}

.phase-1 #s3 .faq-item .content {
  background-color: #1f1f1f;
  margin: 0;
}

.phase-1 #s4 .content p {
  font-size: 48px;
}

.phase-1 #s4 .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phase-1 #s4 .contact-wrapper .contact-form .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: 'name email . .' 'message message . .' 'button button . .' '. . . .';
}

.phase-1 #s4 .contact-wrapper .contact-form .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.phase-1 #s4 .contact-wrapper .contact-form .email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.phase-1 #s4 .contact-wrapper .contact-form .message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

.phase-1 #s4 .contact-wrapper .contact-form .button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
}

.phase-1 #s4 .contact-wrapper .contact-form .input,
.phase-1 #s4 .contact-wrapper .contact-form label {
  display: block;
}

.phase-1 #s4 .contact-wrapper .contact-form input,
.phase-1 #s4 .contact-wrapper .contact-form select,
.phase-1 #s4 .contact-wrapper .contact-form textarea {
  color: white;
}

.phase-1 #s4 .contact-wrapper .contact-form textarea {
  width: 610px;
  height: 175px;
  padding: 0;
  float: left;
  border: 10px solid #2f2f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin-top: -4em;
}

.phase-1 #s4 .contact-wrapper .contact-form input[type='name'] {
  width: 300px;
  padding: 0;
  float: left;
  border: 10px solid #2f2f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.phase-1 #s4 .contact-wrapper .contact-form input[type='email'] {
  width: 300px;
  padding: 0;
  float: left;
  border: 10px solid #2f2f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin-left: 0.3em;
}

.phase-1 #s4 .contact-wrapper .contact-form button {
  width: 610px;
  background-color: #ff0000;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  margin-top: 0.3em;
  outline: none;
}

.phase-1 #s4 .contact-wrapper .contact-form .button1:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

.phase-1 #s4 .contact-wrapper .contact-form #status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  position: absolute;
  margin-top: 17em;
  margin-left: 3em;
}

.phase-1 #s4 .contact-wrapper .contact-form #status.success {
  background-color: #d3fa99;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

.phase-1 #s4 .contact-wrapper .contact-form .status.error {
  background-color: #fa815c;
  color: white;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.phase-1 #s4 .contact-info {
  font-size: 28px;
  display: inline-block;
  margin: 25px 10px;
  margin-left: 6em;
}

.phase-2 {
  /*
    label {
        display: block;
        transform: translate(0, -2.75rem);
        margin-left: 1em;
        color: rgba(255, 255, 255, 0.6);
    }
    input:focus+label,
    input:not(:placeholder-shown)+label {
        transform: translateY(-3em) scale(0.5);
    }
    */
}

.phase-2 .form-heading {
  font-size: 42px;
}

.phase-2 .profile-pic {
  font-size: 42px;
}

.phase-2 .profile-pic img {
  float: right;
  width: 30%;
  height: 30%;
  margin-right: -2em;
  margin-top: -2em;
}

.phase-2 .profile-pic h1 {
  font-size: 44px;
}

.phase-2 .heading2 h2 {
  margin-top: 0.5em;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.phase-2 .text-p p {
  margin-top: -1em;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 45px;
  width: 250px;
  padding: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  background: #2F2F2F;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.phase-2 input[type="text"],
.phase-2 .box input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  float: left;
  box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.phase-2 input[type="uname"],
.phase-2 .box input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  float: left;
  box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.phase-2 input[type="text"],
.phase-2 .box input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 5px;
}

.phase-2 input[type="text"],
.phase-2 .box input[type="uname"]:focus {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 5px;
}

.phase-2 ::-webkit-input-placeholder:focus + label {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.phase-2 :-ms-input-placeholder:focus + label {
  transform: translateY(-1em);
}

.phase-2 ::-ms-input-placeholder:focus + label {
  transform: translateY(-1em);
}

.phase-2 ::placeholder:focus + label {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.phase-2 input,
.phase-2 select,
.phase-2 textarea {
  color: white;
}

.phase-2 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 45px;
  width: 250px;
  padding: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  background: #2F2F2F;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.phase-2 input,
.phase-2 select,
.phase-2 textarea {
  color: white;
}

.phase-2 button {
  background-color: #c52525;
  color: white;
  padding: 7px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-radius: 5px;
}

.phase-2 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -2.5em;
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .container a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .container span {
  margin-left: 5.5em;
}

.phase-2 .bot {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .bot a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .bot1 {
  margin-top: -1em;
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .bot1 a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .checkmark a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .container-s {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .container-s a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .container-s span {
  margin-left: 5.5em;
}

.phase-2 .bot {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .bot a:visited {
  color: rgba(255, 255, 255, 0.6);
}

.phase-2 .box-profile {
  float: left;
  margin-left: 1em;
  width: 20px;
}

.phase-2 .button2 {
  background-color: #2f2f2f;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 5px;
  width: 55%;
  float: left;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.phase-2 .profile-pic {
  float: right;
  display: block;
  background: transparent;
}

.phase-2 select {
  width: 100%;
  margin: 8px 0á;
  float: left;
  border: 10px solid #2f2f2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f2f2f;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.phase-2 p {
  padding: 0;
  margin: 0;
}

.phase-2 .wrapper {
  max-width: 100% !important;
  padding: 0 0 200px 0;
}

.phase-2 .navigation {
  padding: 0 65px;
  margin-top: 40px;
  margin-left: 55px;
  font-size: 16px;
  max-height: 52px;
}

.phase-2 .navigation .logo {
  margin-top: 1em;
  margin-left: -6em;
  width: 22%;
}

.phase-2 .navigation .action ul li {
  padding: 7px 22px;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

.phase-2 .navigation .action ul a {
  padding: 0;
  font-size: inherit;
  letter-spacing: inherit;
}

.phase-2 .account-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  max-width: 80px;
  width: 80px;
  min-height: 52px;
  position: relative;
}

.phase-2 .account-wrapper .avatar-icon {
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.phase-2 .account-wrapper .drop-arrow {
  position: absolute;
  left: 55px;
}

.phase-2 .account-wrapper:hover .tooltip {
  display: block;
  cursor: pointer;
}

.phase-2 .account-wrapper .tooltip {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 4px 0px;
  left: -38.5px;
  margin-top: 180px;
  position: relative;
  z-index: 1000;
  font-size: 12px;
}

.phase-2 .account-wrapper .tooltip::before {
  content: '';
  position: absolute;
  border-left: 13.33333px solid transparent;
  border-right: 13.33333px solid transparent;
  border-bottom: 16px solid rgba(255, 255, 255, 0.75);
  top: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.phase-2 .pref-buttons {
  float: left;
  margin-left: 0em;
  border-radius: 1px;
}

.phase-2 .pref-buttons ul {
  border-radius: 1px;
}

.phase-2 .pref-buttons ul li {
  font-size: 8px;
  height: 25px;
  width: 50px;
  margin: 0em;
  border-radius: 3px;
  text-align: center;
}

.phase-2 .pref-add ul li {
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.6);
  font-size: 8px;
  height: 25px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1px;
  margin-bottom: 1em;
}

.phase-2 .can-save ul li {
  border-radius: 5px;
  border: 0.1px solid;
  font-size: 11px;
  padding: 1px 10px;
}

.phase-2 .can-save ul .bg {
  background: #ff0000;
  border-radius: 3px;
  border: none;
  margin-left: 1em;
}

.phase-2 .del-prof ul li {
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.6);
  font-size: 8px;
  height: 25px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1px;
  margin-bottom: 1em;
}

.phase-3 {
  overflow-x: hidden !important;
}

.phase-3 p {
  padding: 0;
  margin: 0;
}

.phase-3 .wrapper {
  max-width: 100% !important;
  height: 100%;
  overflow-x: hidden !important;
}

.phase-3 .navigation {
  padding: 0 65px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 15px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  max-height: 52px;
}

.phase-3 .navigation .logo {
  min-width: 115px;
  width: 115px;
  padding-top: 4px;
}

.phase-3 .navigation .logo img {
  width: 100%;
  height: 100%;
}

.phase-3 .navigation .account-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  max-width: 80px;
  width: 80px;
  min-height: 52px;
  position: relative;
}

.phase-3 .navigation .account-wrapper .avatar-icon {
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.phase-3 .navigation .account-wrapper .drop-arrow {
  position: absolute;
  left: 55px;
}

.phase-3 .navigation .account-wrapper:hover .tooltip {
  display: block;
  cursor: pointer;
}

.phase-3 .navigation .account-wrapper .tooltip {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 4px 0px;
  left: -38.5px;
  margin-top: 180px;
  position: relative;
  z-index: 9999;
  font-size: 12px;
}

.phase-3 .navigation .account-wrapper .tooltip::before {
  content: '';
  position: absolute;
  border-left: 13.33333px solid transparent;
  border-right: 13.33333px solid transparent;
  border-bottom: 16px solid rgba(255, 255, 255, 0.75);
  top: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.phase-3 .navigation .action {
  margin-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.phase-3 .navigation .action ul {
  margin-left: 38px;
}

.phase-3 .navigation .action ul li {
  margin: 0px;
}

.phase-3 .navigation .action ul a {
  padding: 4px 12px;
  color: rgba(255, 255, 255, 0.6);
}

.phase-3 .navigation .action a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.phase-3 .navigation .action .active-link {
  color: white;
}

.phase-3 .header {
  padding: 0 65px;
  font-size: 36px;
}

.phase-3 .header p {
  margin: 0 !important;
}

.phase-3 .top-container {
  padding: 0 65px;
  margin-bottom: calc(8px + 35px);
}

.phase-3 .top-container .header {
  padding: 0;
}

.phase-3 .top-container .top-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.phase-3 .top-container .top-wrapper .main-content {
  background-color: #1f1f1f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phase-3 .top-container .top-wrapper .main-content .main-image {
  height: auto;
  width: 600px;
}

.phase-3 .top-container .top-wrapper .main-content .main-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.phase-3 .top-container .top-wrapper::after, .phase-3 .top-container .top-wrapper::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100px;
  width: 65px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phase-3 .top-container .top-wrapper::after {
  content: url(/style/content/icons/large-arrow-left.svg);
  background: -webkit-gradient(linear, left top, right top, from(#141414), to(#1f1f1f));
  background: linear-gradient(90deg, #141414 0%, #1f1f1f 100%);
  left: -65px;
}

.phase-3 .top-container .top-wrapper::before {
  content: url(/style/content/icons/large-arrow-right.svg);
  background: -webkit-gradient(linear, right top, left top, from(#141414), to(#1f1f1f));
  background: linear-gradient(-90deg, #141414 0%, #1f1f1f 100%);
  right: -65px;
}

.phase-3 .top-container .progress-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 8px;
}

.phase-3 .top-container .progress-wrapper span {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  content: '';
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -8px;
}

.phase-3 .top-container .progress-wrapper #active {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.phase-3 :root {
  --swiper-theme-color: #fff;
}

.phase-3 .slider {
  margin: 0 65px 40px 65px;
  position: relative;
  min-height: 120px;
}

.phase-3 .slider h2 {
  margin: 0 0 4px 0;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
  font-size: 34px;
}

.phase-3 .swiper-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.phase-3 .swiper-wrapper {
  margin-bottom: -5px;
}

.phase-3 .swiper-slide {
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
}

.phase-3 .swiper-button-prev,
.phase-3 .swiper-button-next {
  height: 155px;
  margin: 0;
  padding: 0 8px;
  -webkit-transform: translate(0, -52.5%);
          transform: translate(0, -52.5%);
  z-index: 1;
  color: white;
  display: none;
}

.phase-3 .swiper-button-prev {
  left: -52px;
}

.phase-3 .swiper-button-next {
  right: -52px;
}

.slider:hover .swiper-button-prev,
.slider:hover .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
  z-index: 2;
  border-radius: 2.5px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2.5px;
  display: block;
}

.item .content {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: -8px;
  padding: 5px 10px 10px 10px;
  background-color: #212121;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2.5px;
}

.item .content .title,
.item .content .short-description {
  font-family: "Roboto", sans-serif;
}

.item .content .review p,
.item .content .bottom-content {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.item .content .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .content .top-content .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item .content .top-content .title p {
  font-size: 22px;
  font-weight: 400;
}

.item .content .top-content .list-button input[type='button'] {
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  background-color: #ff0000;
  border-radius: 5px;
  outline: none;
  border: transparent;
  padding: 5px 10px 5px 10px;
  height: 30px;
  margin-top: 1.5px;
  color: white;
}

.item .content .review {
  background-color: #373737;
  padding: 3.5px 8px 1px 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.item .content .review p {
  color: rgba(255, 255, 255, 0.75);
}

.item .content .review .text {
  color: #00d1ff;
}

.item .content .short-description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.1;
}

.item .content .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item .content .bottom-content .release-date {
  color: rgba(255, 255, 255, 0.5);
}

.item .content .bottom-content .release-date span {
  color: #00d1ff;
}

.item .content .bottom-content .price {
  color: rgba(255, 255, 255, 0.5);
}

.item .content .bottom-content .price span {
  color: #00d1ff;
}

.item:hover {
  z-index: 40;
  -webkit-transform: scale(1.2) translateY(-50px);
          transform: scale(1.2) translateY(-50px);
  cursor: pointer;
}

.item:hover .content {
  display: block;
  -webkit-animation: fadeIn 200ms;
          animation: fadeIn 200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: -5px;
}

.tag-container .tag {
  background-color: #373737;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 2px 8px 0px 8px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.large-game-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 8998;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: absolute;
  width: 105%;
  height: 100%;
  left: -10px;
}

.foreground {
  max-width: 1080px;
  min-width: 600px;
  margin: 60px 20px 0 20px;
  padding-bottom: 40px;
}

.large-game-container {
  position: relative;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.large-game-container .col-1 {
  width: 60%;
}

.large-game-container .col-2 {
  width: 40%;
}

.large-game-container .col-1 {
  margin-right: 10px;
}

.large-game-container .col-1 .showcase-wrapper {
  margin-bottom: 5px;
}

.large-game-container .col-1 .showcase-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}

.large-game-container .col-1 .showcase-content {
  padding: 5px 0 5px 15px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.large-game-container .col-1 .showcase-content h1,
.large-game-container .col-1 .showcase-content h2,
.large-game-container .col-1 .showcase-content p {
  display: block;
  width: 100%;
  padding: 0;
  margin-right: 0 !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.large-game-container .col-1 .showcase-content .bb_tag {
  width: 100%;
  min-width: 100%;
  margin: 0 !important;
  padding: 0;
}

.large-game-container .col-1 .showcase-content strong {
  width: 100%;
}

.large-game-container .col-1 .showcase-content .showcase-heading {
  font-size: 28px;
}

.large-game-container .col-1 .showcase-content img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.large-game-container .col-1 h2 {
  color: #00d1ff;
}

.large-game-container .col-1 a {
  color: #00d1ff;
}

.large-game-container .col-1 h1,
.large-game-container .col-1 h2,
.large-game-container .col-1 p {
  margin-right: 0 !important;
}

.large-game-container .col-2 .header-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.large-game-container .col-2 .col-2-inner {
  padding: 5px 15px 5px 0;
}
/*# sourceMappingURL=main.css.map */